@page
@model EymardModel

@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2.Diagrams

@{
    ViewData["Title"] = "Eymard Complex";
    Layout = "_Layout";

    var groundFloorHeader = new TabHeader { Text = "Ground Floor" };
    var firstFloorHeader = new TabHeader { Text = "First Floor" };
    var secondFloorHeader = new TabHeader { Text = "Second Floor" };
    var thirdFloorHeader = new TabHeader { Text = "Third Floor" };

    var groundFloorContent = "#groundFloorDiagramContent";
    var firstFloorContent = "#firstFloorDiagramContent";
    var secondFloorContent = "#secondFloorDiagramContent";
    var thirdFloorContent = "#thirdFloorDiagramContent";
}

<!-- Load floor-specific diagram data -->
<script src="~/js/eymard/groundFloor.js"></script>
<script src="~/js/eymard/firstFloor.js"></script>
<script src="~/js/eymard/secondFloor.js"></script>
<script src="~/js/eymard/thirdFloor.js"></script>
<script src="~/js/diagram-init.js"></script>

<ejs-tab id="eymardTabs">
    <e-tab-tabitems>
        <e-tab-tabitem header="@groundFloorHeader" content="@groundFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@firstFloorHeader" content="@firstFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@secondFloorHeader" content="@secondFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@thirdFloorHeader" content="@thirdFloorContent"></e-tab-tabitem>
    </e-tab-tabitems>
</ejs-tab>

<div id="groundFloorDiagramContent">
    <ejs-diagram id="eymardGroundFloorDiagram"
                 width="100%"
                 height="600px">
    </ejs-diagram>
</div>

<div id="firstFloorDiagramContent">
    <ejs-diagram id="eymardFirstFloorDiagram"
                 width="100%"
                 height="600px">
    </ejs-diagram>
</div>

<div id="secondFloorDiagramContent">
    <ejs-diagram id="eymardSecondFloorDiagram"
                 width="100%"
                 height="600px">
    </ejs-diagram>
</div>

<div id="thirdFloorDiagramContent">
    <ejs-diagram id="eymardThirdFloorDiagram"
                 width="100%"
                 height="600px">
    </ejs-diagram>
</div>