@page
@model MathuraModel

@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2.Diagrams

@{
    ViewData["Title"] = "Mathura Complex";
    Layout = "_Layout";

    var firstFloorHeader = new TabHeader { Text = "First Floor" };
    var secondFloorHeader = new TabHeader { Text = "Second Floor" };
    var thirdFloorHeader = new TabHeader { Text = "Third Floor" };
    var fourthFloorHeader = new TabHeader { Text = "Fourth Floor" };
    var fifthFloorHeader = new TabHeader { Text = "Fifth Floor" };

    var firstFloorContent = "#firstFloorDiagramContent";
    var secondFloorContent = "#secondFloorDiagramContent";
    var thirdFloorContent = "#thirdFloorDiagramContent";
    var fourthFloorContent = "#fourthFloorDiagramContent";
    var fifthFloorContent = "#fifthFloorDiagramContent";
}

<!-- Load floor-specific diagram data -->
<script src="~/js/mathura/firstFloor.js"></script>
<script src="~/js/mathura/secondFloor.js"></script>
<script src="~/js/mathura/thirdFloor.js"></script>
<script src="~/js/mathura/fourthFloor.js"></script>
<script src="~/js/mathura/fifthFloor.js"></script>

<ejs-tab id="mathuraTabs" headerPlacement="Left" height="100%" width="100%">
    <e-tab-tabitems>
        <e-tab-tabitem header="@firstFloorHeader" content="@firstFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@secondFloorHeader" content="@secondFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@thirdFloorHeader" content="@thirdFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@fourthFloorHeader" content="@fourthFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@fifthFloorHeader" content="@fifthFloorContent"></e-tab-tabitem>
    </e-tab-tabitems>
</ejs-tab>

        <div id="firstFloorDiagramContent" class="diagram-wrapper">
    <ejs-diagram id="mathuraFirstFloorDiagram"
                 width="100%"
                 height="650px">
        <e-diagram-snapsettings gridType="Dots"></e-diagram-snapsettings>
    </ejs-diagram>
    <div class="overview-container">
        <ejs-overview id="mathuraFirstFloorOverview" width="100%" height="150px" sourceID="mathuraFirstFloorDiagram"></ejs-overview>
    </div>
</div>

<div id="secondFloorDiagramContent" class="diagram-wrapper">
    <ejs-diagram id="mathuraSecondFloorDiagram"
                 width="100%"
                 height="650px">
        <e-diagram-snapsettings gridType="Dots"></e-diagram-snapsettings>
    </ejs-diagram>
    <div class="overview-container">
        <ejs-overview id="mathuraSecondFloorOverview" width="100%" height="150px" sourceID="mathuraSecondFloorDiagram"></ejs-overview>
    </div>
</div>

<div id="thirdFloorDiagramContent" class="diagram-wrapper">
    <ejs-diagram id="mathuraThirdFloorDiagram"
                 width="100%"
                 height="650px">
        <e-diagram-snapsettings gridType="Dots"></e-diagram-snapsettings>
    </ejs-diagram>
    <div class="overview-container">
        <ejs-overview id="mathuraThirdFloorOverview" width="100%" height="150px" sourceID="mathuraThirdFloorDiagram"></ejs-overview>
    </div>
</div>

<div id="fourthFloorDiagramContent" class="diagram-wrapper">
    <ejs-diagram id="mathuraFourthFloorDiagram"
                 width="100%"
                 height="650px">
        <e-diagram-snapsettings gridType="Dots"></e-diagram-snapsettings>
    </ejs-diagram>
    <div class="overview-container">
        <ejs-overview id="mathuraFourthFloorOverview" width="100%" height="150px" sourceID="mathuraFourthFloorDiagram"></ejs-overview>
    </div>
</div>

<div id="fifthFloorDiagramContent" class="diagram-wrapper">
    <ejs-diagram id="mathuraFifthFloorDiagram"
                 width="100%"
                 height="650px">
        <e-diagram-snapsettings gridType="Dots"></e-diagram-snapsettings>
    </ejs-diagram>
    <div class="overview-container">
        <ejs-overview id="mathuraFifthFloorOverview" width="100%" height="150px" sourceID="mathuraFifthFloorDiagram"></ejs-overview>
    </div>
</div>