@page
@model MathuraModel

@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2.Diagrams

@{
    ViewData["Title"] = "Mathura Complex";
    Layout = "_Layout";

    var firstFloorHeader = new TabHeader { Text = "First Floor" };
    var secondFloorHeader = new TabHeader { Text = "Second Floor" };
    var thirdFloorHeader = new TabHeader { Text = "Third Floor" };
    var fourthFloorHeader = new TabHeader { Text = "Fourth Floor" };
    var fifthFloorHeader = new TabHeader { Text = "Fifth Floor" };

    var firstFloorContent = "#firstFloorDiagramContent";
    var secondFloorContent = "#secondFloorDiagramContent";
    var thirdFloorContent = "#thirdFloorDiagramContent";
    var fourthFloorContent = "#fourthFloorDiagramContent";
    var fifthFloorContent = "#fifthFloorDiagramContent";
}

<!-- Load floor-specific diagram data -->
<script src="~/js/mathura/firstFloor.js"></script>
<script src="~/js/mathura/secondFloor.js"></script>
<script src="~/js/mathura/thirdFloor.js"></script>
<script src="~/js/mathura/fourthFloor.js"></script>
<script src="~/js/mathura/fifthFloor.js"></script>

<ejs-tab id="mathuraTabs">
    <e-tab-tabitems>
        <e-tab-tabitem header="@firstFloorHeader" content="@firstFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@secondFloorHeader" content="@secondFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@thirdFloorHeader" content="@thirdFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@fourthFloorHeader" content="@fourthFloorContent"></e-tab-tabitem>
        <e-tab-tabitem header="@fifthFloorHeader" content="@fifthFloorContent"></e-tab-tabitem>
    </e-tab-tabitems>
</ejs-tab>

        <div id="firstFloorDiagramContent">
    <ejs-diagram id="mathuraFirstFloorDiagram"
                 width="100%"
                 height="650px">
    </ejs-diagram>
</div>

<div id="secondFloorDiagramContent">
    <ejs-diagram id="mathuraSecondFloorDiagram"
                 width="100%"
                 height="650px">
    </ejs-diagram>
</div>

<div id="thirdFloorDiagramContent">
    <ejs-diagram id="mathuraThirdFloorDiagram"
                 width="100%"
                 height="650px">
    </ejs-diagram>
</div>

<div id="fourthFloorDiagramContent">
    <ejs-diagram id="mathuraFourthFloorDiagram"
                 width="100%"
                 height="650px">
    </ejs-diagram>
</div>

<div id="fifthFloorDiagramContent">
    <ejs-diagram id="mathuraFifthFloorDiagram"
                 width="100%"
                 height="650px">
    </ejs-diagram>
</div>